body
{
	background-image: url("../images/background.jpg");
}
.header, .nav
{
	text-align: center;
	font-family: 'Kaushan Script', cursive;
	font-size: 140%;
}

ul 
{
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
a 
{
    float: left;
    width: 7em;
    text-decoration: none;
    color: white;
    background-color: gray;
    padding: 0.2em 0.6em;
    border-right: 1px solid white;
}

a:hover	
{
    background-color: black;
}

li {
    display: inline;
}

.box
{
	line-height: 3.0;
}